.color4code {
  color: #100;
  background-color: #f9f9f9;
  border: 1px solid silver;
  margin: 0 0 1.5em 0;
  overflow: auto;

}
.color4codelang {
    background: #DFDFDF;
    margin-bottom: 0;
    padding: 3px;
    color: black;
    font-style: italic;
}
.line_numbers {
    font-weight: bold;
}
.color4code td {
    padding: 0;
    vertical-align: top;
}
.color4code pre {
  margin: 0;
  width: auto;
  float: none;
  clear: none;
  font-size: 12px;
  line-height: 1.333em;
  white-space: pre;
  background-color:white;
  vertical-align: top;
  padding: 2px 4px;
}